.benefits {
    padding: 100px 0;
    background-color: $color-light-grey;

    .benefits-container {
        padding: 0 100px;
        margin: 0 auto;
        max-width: 1200px;
      }

      .benefits-box {
        background-color: $color-white;
        border: 1px solid #e8e9ed;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 37px;
      }

      .benefits-text {
        width: 415px;
        margin: 91px 35px;
      }
      
      .benefits-text::after {
        display: block;
        content: "";
        width: 328px;
        height: 4px;
        background-color: $color-redish;
        margin-top: 50px;
      }
      
      .benefits-title {
        font-family: $font-raleway;
        font-size: 2.25rem;
        margin-bottom: 30px;
      }
      
      .benefit-description {
        font-family: $font-open-sans;
        font-size: 1rem;
        line-height: 18px;
      }
  }
  
  
  .benefits-img {
    position: relative;
    margin: 38px 71px;
    width: 433px;
  }
  
  .benefits-macbook .benefits-img img {
    position: relative;
    width: 370px;
    height: auto;
    z-index: 100;
  }
  
  .benefits-macbook .benefits-img::before {
    content: "";
    display: block;
    width: 180px;
    height: 180px;
    background-color: $color-redish;
    border-radius: 41px;
    position: absolute;
    transform: rotate(45deg);
    top: -37px;
    right: 35px;
  }
  
  .benefits-phone {
    display: flex;
    flex-direction: row-reverse;
  }
  
  .benefits-phone .benefits-text::after {
    display: block;
    content: "";
    width: 328px;
    height: 4px;
    background-color: $color-primary;
    margin-top: 50px;
  }
  
  .benefits-phone img {
    position: relative;
    width: 426px;
    height: auto;
    z-index: 100;
  }
  
  .benefits-phone .benefits-img::before {
    content: "";
    display: block;
    width: 320px;
    height: 320px;
    background-color: $color-primary;
    position: absolute;
    border-radius: 50px;
    top: -20px;
    left: -15px;
  }
  
  .benefits-double {
    display: flex;
  }
  
  .benefits-solo {
    width: 623px;
    margin-right: 60px;
    margin-bottom: 0;
  }
  
  .benefits-right {
    width: 440px;
    height: 430px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-green;
  }
  
  .benefits-double .benefits-text::after {
    display: block;
    content: "";
    width: 328px;
    height: 4px;
    background-color: $color-green;
    margin-top: 50px;
  }
  
  .benefits-right-img img {
    width: 296px;
    height: 208px;
  }