.header {
    height: 70px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    margin-bottom: 130px;

    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
      }

      .logo {
        font-family: var(--font-raleway);
        font-weight: 300;
        font-size: 2rem;
        color: var(--color-primary);
      }

      .nav-hamburger-hidden-btn {
        display: none;
    
        &:checked ~ .nav-hamburger-icon {
          left: 310px;
        }
    
        &:checked ~ .nav-side-menu {
          left: 0;
        }
      }
    
      .nav-hamburger-icon {
        font-size: 28px;
        color: $color-primary;
        padding: 5px 25px;
        border-radius: 5px;
        position: fixed;
        top: 10px;
        right: 10px;
        z-index: 9999;
        cursor: pointer;
        transition: all 0.5s;
        display: none; //hidden hamburger icon
      }
      
      .nav-bar {
        display: flex;
      }
    }
    
      .nav-links {
        color: var(--color-grey);
        letter-spacing: 3.28px;
        text-transform: uppercase;
        font-family: var(--font-open-sans);
        font-weight: 700;
        font-size: 11px;
        padding: 25px 15px 22px;
      }
      
      .nav-links:hover {
        color: var(--color-black);
        border-bottom: 4px solid var(--color-primary);
      }
      
      .nav-element {
        padding: 0 26px;
        list-style: none;
      }
      
      .nav-element:last-child {
        padding-right: 0;
      }
  