:root {
  --color-primary: #08a6e4;
  --color-primary-shadow: rgba(7, 172, 230, 0.16);
  --color-redish: #fb3b64;
  --color-green: #55dfb4;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-grey: #a5a5a5;
  --color-light-grey: #f7f7f7;
  --button-radius: 35px;
  --font-raleway: "Raleway", sans-serif;
  --font-open-sans: "Open Sans", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-open-sans);
  /* border: 1px dotted blue; */
}

a {
  text-decoration: none;
}

.container {
  width: 1352px;
  margin: 0 auto;
}

.header {
  height: 70px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  margin-bottom: 130px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.logo {
  font-family: var(--font-raleway);
  font-weight: 300;
  font-size: 2rem;
  color: var(--color-primary);
}

.nav-bar {
  display: flex;
}

.nav-links {
  color: var(--color-grey);
  letter-spacing: 3.28px;
  text-transform: uppercase;
  font-family: var(--font-open-sans);
  font-weight: 700;
  font-size: 11px;
  padding: 25px 15px 22px;
}

.nav-links:hover {
  color: var(--color-black);
  border-bottom: 4px solid var(--color-primary);
}

.nav-element {
  padding: 0 26px;
}

.nav-element:last-child {
  padding-right: 0;
}

.opening {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.opening-heading {
  font-family: var(--font-raleway);
  font-size: 3.0625rem;
}

.opening-text {
  margin: 20px 0 38px 0;
}

.btn {
  color: var(--color-white);
  font-weight: bold;
  display: inline-block;
  border-radius: var(--button-radius);
}

.opening-button {
  background-color: var(--color-primary);
  padding: 22px 157px;
  box-shadow: 5px 10px 14px var(--color-primary-shadow);
}

.background-image {
  width: 100%;
  height: auto;
}

.statistics-section {
  height: 531px;
}

.statistic-title {
  text-align: center;
  font-family: var(--font-raleway);
  font-size: 2.25rem;
  margin: 90px 0;
}

.statistics-container {
  width: 800px;
  margin: 100px auto 120px;
  display: flex;
  justify-content: space-between;
}

.statistics {
  text-align: center;
  width: 116px;
  font-family: var(--font-raleway);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.statistic-circle {
  border-radius: 50%;
  width: 63px;
  height: 63px;
  position: relative;
}

.statistic-img {
  position: absolute;
}

.statistics:nth-child(1) .statistic-circle {
  background-color: var(--color-redish);
}

.statistics:nth-child(1) .statistic-img {
  top: 3px;
  left: 50%;
}

.statistics:nth-child(2) .statistic-circle {
  background-color: var(--color-primary);
}

.statistics:nth-child(2) .statistic-img {
  top: 13px;
  left: 37%;
}

.statistics:nth-child(3) .statistic-circle {
  background-color: var(--color-green);
}

.statistics:nth-child(3) .statistic-img {
  top: 5px;
  left: 45%;
}

.stats {
  letter-spacing: 5.96px;
  font-size: 1.25rem;
  font-weight: 800;
  margin-top: 14px;
}

.stat-text {
  color: var(--color-grey);
  margin-top: 19px;
}

.benefits {
  padding: 100px 0;
  background-color: var(--color-light-grey);
}

.benefits-container {
  padding: 0 100px;
  margin: 0 auto;
  max-width: 1200px;
}

.benefits-box {
  background-color: var(--color-white);
  border: 1px solid #e8e9ed;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 37px;
}

.benefits-text {
  width: 415px;
  margin: 91px 35px;
}

.benefits-text::after {
  display: block;
  content: "";
  width: 328px;
  height: 4px;
  background-color: var(--color-redish);
  margin-top: 50px;
}

.benefits-title {
  font-family: var(--font-raleway);
  font-size: 2.25rem;
  margin-bottom: 30px;
}

.benefit-description {
  font-family: var(--font-open-sans);
  font-size: 1rem;
  line-height: 18px;
}

.benefits-img {
  position: relative;
  margin: 38px 71px;
  width: 433px;
}

.benefits-macbook .benefits-img img {
  position: relative;
  width: 370px;
  height: auto;
  z-index: 100;
}

.benefits-macbook .benefits-img::before {
  content: "";
  display: block;
  width: 180px;
  height: 180px;
  background-color: var(--color-redish);
  border-radius: 41px;
  position: absolute;
  transform: rotate(45deg);
  top: -37px;
  right: 35px;
}

.benefits-phone {
  display: flex;
  flex-direction: row-reverse;
}

.benefits-phone .benefits-text::after {
  display: block;
  content: "";
  width: 328px;
  height: 4px;
  background-color: var(--color-primary);
  margin-top: 50px;
}

.benefits-phone img {
  position: relative;
  width: 426px;
  height: auto;
  z-index: 100;
}

.benefits-phone .benefits-img::before {
  content: "";
  display: block;
  width: 320px;
  height: 320px;
  background-color: var(--color-primary);
  position: absolute;
  border-radius: 50%;
  top: -20px;
  left: -15px;
}

.benefits-double {
  display: flex;
}

.benefits-solo {
  width: 623px;
  margin-right: 60px;
  margin-bottom: 0;
}

.benefits-right {
  width: 440px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-green);
}

.benefits-double .benefits-text::after {
  display: block;
  content: "";
  width: 328px;
  height: 4px;
  background-color: var(--color-green);
  margin-top: 50px;
}

.benefits-right-img img {
  width: 296px;
  height: 208px;
}

.pricing-title {
  text-align: center;
  font-family: var(--font-raleway);
  font-size: 36px;
}

.pricing {
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pricing-boxes {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.pricing-box {
  width: 372px;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--color-redish);
}

.pricing-details {
  margin-top: 34px;
  margin-bottom: 60px;
  text-align: center;
}

.pricing-type {
  font-size: 1.25rem;
  font-family: var(--font-raleway);
  font-weight: 700;
}

.pricing-price {
  font-size: 2.875rem;
  font-family: var(--font-open-sans);
  font-weight: 300;
  margin-top: 25px;
  color: var(--color-redish);
}

.pricing-limited {
  text-align: center;
  margin-top: 15px;
  font-size: 0.75rem;
  font-family: var(--font-raleway);
  font-weight: 700;
}

.pricing-list {
  text-align: center;
}

.pricing-items {
  font-size: 14px;
  margin-bottom: 20px;
}

.pricing-items::before {
  content: '';
  width: 11px;
  height: 11px;
  margin-right: 10px;
  display: inline-block;
  background-image: url("../assets/Ckechmark-1.svg");

}

.pricing-items-not {
  font-size: 14px;
  margin-bottom: 20px;
}

.pricing-items-not::before {
  content: '';
  width: 11px;
  height: 11px;
  margin-right: 10px;
  display: inline-block;
  background-image: url("../assets/Close.svg");
}

.pricing-button {
  position: relative;
  bottom: -25px;
  font-size: 0.8125rem;
  background-color: var(--accent-color);
}